<div id="oboard">
<div class="row" id="ocnum_row">
<div class="row_number">R</div>
<a href="foo" class="cnum" id="or1">1</a>
<a href="foo" class="cnum" id="or2">2</a>
<a href="foo" class="cnum" id="or3">3</a>
<a href="foo" class="cnum" id="or4">4</a>
<a href="foo" class="cnum" id="or5">5</a>
<a href="foo" class="cnum" id="or6">6</a>
<a href="foo" class="cnum" id="or7">7</a>
<a href="foo" class="cnum" id="or8">8</a>
<a href="foo" class="cnum" id="or9">9</a>
<a href="foo" class="cnum" id="or10">10</a>
</div>

<div class="row" id="orow1">
<div class="row_number">A</div>
<a href="foo" class="coord empty" id="oc1">*</a>
<a href="foo" class="coord empty" id="oc2">*</a>
<a href="foo" class="coord empty" id="oc3">*</a>
<a href="foo" class="coord empty" id="oc4">*</a>
<a href="foo" class="coord empty" id="oc5">*</a>
<a href="foo" class="coord empty" id="oc6">*</a>
<a href="foo" class="coord empty" id="oc7">*</a>
<a href="foo" class="coord empty" id="oc8">*</a>
<a href="foo" class="coord empty" id="oc9">*</a>
<a href="foo" class="coord empty" id="oc10">*</a>
</div>

<div class="row" id="orow2">
<div class="row_number">B</div>
<a href="foo" class="coord empty" id="oc11">*</a>
<a href="foo" class="coord empty" id="oc12">*</a>
<a href="foo" class="coord empty" id="oc13">*</a>
<a href="foo" class="coord empty" id="oc14">*</a>
<a href="foo" class="coord empty" id="oc15">*</a>
<a href="foo" class="coord empty" id="oc16">*</a>
<a href="foo" class="coord empty" id="oc17">*</a>
<a href="foo" class="coord empty" id="oc18">*</a>
<a href="foo" class="coord empty" id="oc19">*</a>
<a href="foo" class="coord empty" id="oc20">*</a>
</div>

<div class="row" id="orow3">
<div class="row_number">C</div>
<a href="foo" class="coord empty" id="oc21">*</a>
<a href="foo" class="coord empty" id="oc22">*</a>
<a href="foo" class="coord empty" id="oc23">*</a>
<a href="foo" class="coord empty" id="oc24">*</a>
<a href="foo" class="coord empty" id="oc25">*</a>
<a href="foo" class="coord empty" id="oc26">*</a>
<a href="foo" class="coord empty" id="oc27">*</a>
<a href="foo" class="coord empty" id="oc28">*</a>
<a href="foo" class="coord empty" id="oc29">*</a>
<a href="foo" class="coord empty" id="oc30">*</a>
</div>

<div class="row" id="orow4">
<div class="row_number">D</div>
<a href="foo" class="coord empty" id="oc31">*</a>
<a href="foo" class="coord empty" id="oc32">*</a>
<a href="foo" class="coord empty" id="oc33">*</a>
<a href="foo" class="coord empty" id="oc34">*</a>
<a href="foo" class="coord empty" id="oc35">*</a>
<a href="foo" class="coord empty" id="oc36">*</a>
<a href="foo" class="coord empty" id="oc37">*</a>
<a href="foo" class="coord empty" id="oc38">*</a>
<a href="foo" class="coord empty" id="oc39">*</a>
<a href="foo" class="coord empty" id="oc40">*</a>
</div>

<div class="row" id="orow5">
<div class="row_number">E</div>
<a href="foo" class="coord empty" id="oc41">*</a>
<a href="foo" class="coord empty" id="oc42">*</a>
<a href="foo" class="coord empty" id="oc43">*</a>
<a href="foo" class="coord empty" id="oc44">*</a>
<a href="foo" class="coord empty" id="oc45">*</a>
<a href="foo" class="coord empty" id="oc46">*</a>
<a href="foo" class="coord empty" id="oc47">*</a>
<a href="foo" class="coord empty" id="oc48">*</a>
<a href="foo" class="coord empty" id="oc49">*</a>
<a href="foo" class="coord empty" id="oc50">*</a>
</div>

<div class="row" id="orow6">
<div class="row_number">F</div>
<a href="foo" class="coord empty" id="oc51">*</a>
<a href="foo" class="coord empty" id="oc52">*</a>
<a href="foo" class="coord empty" id="oc53">*</a>
<a href="foo" class="coord empty" id="oc54">*</a>
<a href="foo" class="coord empty" id="oc55">*</a>
<a href="foo" class="coord empty" id="oc56">*</a>
<a href="foo" class="coord empty" id="oc57">*</a>
<a href="foo" class="coord empty" id="oc58">*</a>
<a href="foo" class="coord empty" id="oc59">*</a>
<a href="foo" class="coord empty" id="oc60">*</a>
</div>

<div class="row" id="orow7">
<div class="row_number">G</div>
<a href="foo" class="coord empty" id="oc61">*</a>
<a href="foo" class="coord empty" id="oc62">*</a>
<a href="foo" class="coord empty" id="oc63">*</a>
<a href="foo" class="coord empty" id="oc64">*</a>
<a href="foo" class="coord empty" id="oc65">*</a>
<a href="foo" class="coord empty" id="oc66">*</a>
<a href="foo" class="coord empty" id="oc67">*</a>
<a href="foo" class="coord empty" id="oc68">*</a>
<a href="foo" class="coord empty" id="oc69">*</a>
<a href="foo" class="coord empty" id="oc70">*</a>
</div>

<div class="row" id="orow8">
<div class="row_number">H</div>
<a href="foo" class="coord empty" id="oc71">*</a>
<a href="foo" class="coord empty" id="oc72">*</a>
<a href="foo" class="coord empty" id="oc73">*</a>
<a href="foo" class="coord empty" id="oc74">*</a>
<a href="foo" class="coord empty" id="oc75">*</a>
<a href="foo" class="coord empty" id="oc76">*</a>
<a href="foo" class="coord empty" id="oc77">*</a>
<a href="foo" class="coord empty" id="oc78">*</a>
<a href="foo" class="coord empty" id="oc79">*</a>
<a href="foo" class="coord empty" id="oc80">*</a>
</div>

<div class="row" id="orow9">
<div class="row_number">I</div>
<a href="foo" class="coord empty" id="oc81">*</a>
<a href="foo" class="coord empty" id="oc82">*</a>
<a href="foo" class="coord empty" id="oc83">*</a>
<a href="foo" class="coord empty" id="oc84">*</a>
<a href="foo" class="coord empty" id="oc85">*</a>
<a href="foo" class="coord empty" id="oc86">*</a>
<a href="foo" class="coord empty" id="oc87">*</a>
<a href="foo" class="coord empty" id="oc88">*</a>
<a href="foo" class="coord empty" id="oc89">*</a>
<a href="foo" class="coord empty" id="oc90">*</a>
</div>

<div class="row" id="orow10">
<div class="row_number">J</div>
<a href="foo" class="coord empty" id="oc91">*</a>
<a href="foo" class="coord empty" id="oc92">*</a>
<a href="foo" class="coord empty" id="oc93">*</a>
<a href="foo" class="coord empty" id="oc94">*</a>
<a href="foo" class="coord empty" id="oc95">*</a>
<a href="foo" class="coord empty" id="oc96">*</a>
<a href="foo" class="coord empty" id="oc97">*</a>
<a href="foo" class="coord empty" id="oc98">*</a>
<a href="foo" class="coord empty" id="oc99">*</a>
<a href="foo" class="coord empty" id="oc100">*</a>
</div>
</div>

<div id="dboard">
<div class="row" id="dcnum_row">
<div class="row_number">R</div>
<a href="foo" class="cnum" id="dr1">1</a>
<a href="foo" class="cnum" id="dr2">2</a>
<a href="foo" class="cnum" id="dr3">3</a>
<a href="foo" class="cnum" id="dr4">4</a>
<a href="foo" class="cnum" id="dr5">5</a>
<a href="foo" class="cnum" id="dr6">6</a>
<a href="foo" class="cnum" id="dr7">7</a>
<a href="foo" class="cnum" id="dr8">8</a>
<a href="foo" class="cnum" id="dr9">9</a>
<a href="foo" class="cnum" id="dr10">10</a>
</div>

<div class="row" id="drow1">
<div class="row_number">A</div>
<a href="foo" class="coord empty" id="dc1">*</a>
<a href="foo" class="coord empty" id="dc2">*</a>
<a href="foo" class="coord empty" id="dc3">*</a>
<a href="foo" class="coord empty" id="dc4">*</a>
<a href="foo" class="coord empty" id="dc5">*</a>
<a href="foo" class="coord empty" id="dc6">*</a>
<a href="foo" class="coord empty" id="dc7">*</a>
<a href="foo" class="coord empty" id="dc8">*</a>
<a href="foo" class="coord empty" id="dc9">*</a>
<a href="foo" class="coord empty" id="dc10">*</a>
</div>

<div class="row" id="drow2">
<div class="row_number">B</div>
<a href="foo" class="coord empty" id="dc11">*</a>
<a href="foo" class="coord empty" id="dc12">*</a>
<a href="foo" class="coord empty" id="dc13">*</a>
<a href="foo" class="coord empty" id="dc14">*</a>
<a href="foo" class="coord empty" id="dc15">*</a>
<a href="foo" class="coord empty" id="dc16">*</a>
<a href="foo" class="coord empty" id="dc17">*</a>
<a href="foo" class="coord empty" id="dc18">*</a>
<a href="foo" class="coord empty" id="dc19">*</a>
<a href="foo" class="coord empty" id="dc20">*</a>
</div>

<div class="row" id="drow3">
<div class="row_number">C</div>
<a href="foo" class="coord empty" id="dc21">*</a>
<a href="foo" class="coord empty" id="dc22">*</a>
<a href="foo" class="coord empty" id="dc23">*</a>
<a href="foo" class="coord empty" id="dc24">*</a>
<a href="foo" class="coord empty" id="dc25">*</a>
<a href="foo" class="coord empty" id="dc26">*</a>
<a href="foo" class="coord empty" id="dc27">*</a>
<a href="foo" class="coord empty" id="dc28">*</a>
<a href="foo" class="coord empty" id="dc29">*</a>
<a href="foo" class="coord empty" id="dc30">*</a>
</div>

<div class="row" id="drow4">
<div class="row_number">D</div>
<a href="foo" class="coord empty" id="dc31">*</a>
<a href="foo" class="coord empty" id="dc32">*</a>
<a href="foo" class="coord empty" id="dc33">*</a>
<a href="foo" class="coord empty" id="dc34">*</a>
<a href="foo" class="coord empty" id="dc35">*</a>
<a href="foo" class="coord empty" id="dc36">*</a>
<a href="foo" class="coord empty" id="dc37">*</a>
<a href="foo" class="coord empty" id="dc38">*</a>
<a href="foo" class="coord empty" id="dc39">*</a>
<a href="foo" class="coord empty" id="dc40">*</a>
</div>

<div class="row" id="drow5">
<div class="row_number">E</div>
<a href="foo" class="coord empty" id="dc41">*</a>
<a href="foo" class="coord empty" id="dc42">*</a>
<a href="foo" class="coord empty" id="dc43">*</a>
<a href="foo" class="coord empty" id="dc44">*</a>
<a href="foo" class="coord empty" id="dc45">*</a>
<a href="foo" class="coord empty" id="dc46">*</a>
<a href="foo" class="coord empty" id="dc47">*</a>
<a href="foo" class="coord empty" id="dc48">*</a>
<a href="foo" class="coord empty" id="dc49">*</a>
<a href="foo" class="coord empty" id="dc50">*</a>
</div>

<div class="row" id="drow6">
<div class="row_number">F</div>
<a href="foo" class="coord empty" id="dc51">*</a>
<a href="foo" class="coord empty" id="dc52">*</a>
<a href="foo" class="coord empty" id="dc53">*</a>
<a href="foo" class="coord empty" id="dc54">*</a>
<a href="foo" class="coord empty" id="dc55">*</a>
<a href="foo" class="coord empty" id="dc56">*</a>
<a href="foo" class="coord empty" id="dc57">*</a>
<a href="foo" class="coord empty" id="dc58">*</a>
<a href="foo" class="coord empty" id="dc59">*</a>
<a href="foo" class="coord empty" id="dc60">*</a>
</div>

<div class="row" id="drow7">
<div class="row_number">G</div>
<a href="foo" class="coord empty" id="dc61">*</a>
<a href="foo" class="coord empty" id="dc62">*</a>
<a href="foo" class="coord empty" id="dc63">*</a>
<a href="foo" class="coord empty" id="dc64">*</a>
<a href="foo" class="coord empty" id="dc65">*</a>
<a href="foo" class="coord empty" id="dc66">*</a>
<a href="foo" class="coord empty" id="dc67">*</a>
<a href="foo" class="coord empty" id="dc68">*</a>
<a href="foo" class="coord empty" id="dc69">*</a>
<a href="foo" class="coord empty" id="dc70">*</a>
</div>

<div class="row" id="drow8">
<div class="row_number">H</div>
<a href="foo" class="coord empty" id="dc71">*</a>
<a href="foo" class="coord empty" id="dc72">*</a>
<a href="foo" class="coord empty" id="dc73">*</a>
<a href="foo" class="coord empty" id="dc74">*</a>
<a href="foo" class="coord empty" id="dc75">*</a>
<a href="foo" class="coord empty" id="dc76">*</a>
<a href="foo" class="coord empty" id="dc77">*</a>
<a href="foo" class="coord empty" id="dc78">*</a>
<a href="foo" class="coord empty" id="dc79">*</a>
<a href="foo" class="coord empty" id="dc80">*</a>
</div>

<div class="row" id="drow9">
<div class="row_number">I</div>
<a href="foo" class="coord empty" id="dc81">*</a>
<a href="foo" class="coord empty" id="dc82">*</a>
<a href="foo" class="coord empty" id="dc83">*</a>
<a href="foo" class="coord empty" id="dc84">*</a>
<a href="foo" class="coord empty" id="dc85">*</a>
<a href="foo" class="coord empty" id="dc86">*</a>
<a href="foo" class="coord empty" id="dc87">*</a>
<a href="foo" class="coord empty" id="dc88">*</a>
<a href="foo" class="coord empty" id="dc89">*</a>
<a href="foo" class="coord empty" id="dc90">*</a>
</div>

<div class="row" id="drow10">
<div class="row_number">J</div>
<a href="foo" class="coord empty" id="dc91">*</a>
<a href="foo" class="coord empty" id="dc92">*</a>
<a href="foo" class="coord empty" id="dc93">*</a>
<a href="foo" class="coord empty" id="dc94">*</a>
<a href="foo" class="coord empty" id="dc95">*</a>
<a href="foo" class="coord empty" id="dc96">*</a>
<a href="foo" class="coord empty" id="dc97">*</a>
<a href="foo" class="coord empty" id="dc98">*</a>
<a href="foo" class="coord empty" id="dc99">*</a>
<a href="foo" class="coord empty" id="dc100">*</a>
</div>
</div>